{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": false,
  "printWidth": 120,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "useTabs": false,
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "proseWrap": "preserve",
  "endOfLine": "lf",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false
}
